#resume-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  fieldset {
    border: none;
    padding: 0;
  }
  
  legend {
    font-weight: bold;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }
  
  input[type="file"] {
    margin-top: 10px;
  }
  
  button {
    padding: 8px 15px;
    background: linear-gradient(45deg, #6C5B7B, #C06C84);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  button:hover {
    background: linear-gradient(45deg, #C06C84, #6C5B7B);
  }
  